:host {
    .olist-toolbar {
        width: 90vw;

        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-self: right;
        
        background: #fff;
    }

    .olist-toolbar .bar{
        width: 42%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .olist-toolbar a{
        text-decoration: none;
        color: var(--principal-grey);

        font-size: 2.0rem;
        font-weight: 400;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .olist-toolbar .bar .score{
        color: var(--principal-blue);
        font-weight: 800;
    }

    .olist-toolbar .login .user{
        width: 15rem;
        height: 3rem;

        color: var(--principal-purple);
        font-weight: 800;

        border: 2px solid var(--principal-purple);
    }
}