<div class="coment-container">
    <div class="name">
        <p>Jessica<span>.</span></p>
    </div>
    <div class="coment">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras orci nulla, molestie sed odio quis, venenatis sollicitudin ante.
            <b>In imperdiet dui maximus lacus imperdiet accumsan.</b>
        </p>
    </div>
</div>

<div class="coment-container">
    <div class="name">
        <p>Lais<span>.</span></p>
    </div>
    <div class="coment">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras orci nulla, molestie sed odio quis, venenatis sollicitudin ante.
            <b>In imperdiet dui maximus lacus imperdiet accumsan.</b>
        </p>
    </div>
</div>