:host{
    .container{
        width: 25rem;
        height: 12rem;

        font-size: 2.0rem;
        color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}