:host{
    .container{
        width: 30rem;
        height: 12rem;

        font-size: 2.0rem;
        color: #ffffff;
        font-weight: 800;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}