:host {
    .card {
        background-color: var(--principal-purple);
    }
    .sent {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sent .material-icons {
        margin-right: 0.8rem;
    }
    .disabled {
        background-color: var(--light-grey);
    }
}