:host{
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        
        color: '#fff';
    }

    .oPoints{
        background-color: var(--principal-green);
    }
}