<table>
    <tr>
        <th>Vendedor</th>
        <th>Ativo há</th>
        <th>{{ person.enableMentor ? '' : 'Avaliação' }}</th>
        <th *ngIf="!person.enableMentor"></th>
    </tr>
    <tr *ngFor="let user of users">
        <td (click)="goToProfile(user)">{{ user.name }}</td>
        <td>{{ user.since }}</td>
        <td *ngIf="person.enableMentor" class='apply'>
            Candidatar
            <span class="material-icons">
                play_circle_outline
            </span>
        </td>
        <td *ngIf="!person.enableMentor" class='apply'>
            <div class="evaluation">
                <span *ngFor="let item of arrayOne(user.evaluation);" class="material-icons">
                grade
            </span>
            </div>
        </td>
        <td *ngIf="!person.enableMentor" class='apply'>
            Aceitar
        </td>
    </tr>
</table>