<table>
    <tr>
        <th>Vendedor</th>
        <th>Ativo há</th>
        <th></th>
    </tr>
    <tr>
        <td>Geovana</td>
        <td>8 dias</td>
        <td class='apply'>
            Candidatar
            <span class="material-icons">
                play_circle_outline
            </span>
        </td>
    </tr>
    <tr>
        <td>Jessica</td>
        <td>10 dias</td>
        <td>
            Candidatar
            <span class="material-icons">
                play_circle_outline
            </span>
        </td>
    </tr>
    <tr>
        <td>Lais</td>
        <td>12 dias</td>
        <td>
            Candidatar
            <span class="material-icons">
                play_circle_outline
            </span>
        </td>
    </tr>
    <tr>
        <td>Lavinia</td>
        <td>14 dias</td>
        <td>
            Candidatar
            <span class="material-icons">
                play_circle_outline
            </span>
        </td>
    </tr>
    <tr>
        <td>Marilia</td>
        <td>16 dias</td>
        <td>
            Candidatar
            <span class="material-icons">
                play_circle_outline
            </span>
        </td>
    </tr>
</table>