<div class="screen">
    <div class="dash-container">
    </div>
    <div class='infos'>
        <app-olist-ui-opoints [oPoints]="person.oPoints"></app-olist-ui-opoints>
        <app-olist-ui-sent [sent]="person.sent"></app-olist-ui-sent>
        <app-olist-ui-completed [completed]="person.completed"></app-olist-ui-completed>
        <app-olist-ui-evaluation [evaluation]="person.evaluation"></app-olist-ui-evaluation>
    </div>

    <app-olist-ui-table class='table' [users]="users" [person]="person"></app-olist-ui-table>
</div>